.about-me-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.about-me-thq-hero-badges-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.about-me-container2 {
  display: none;
}
 
.about-me-container3 {
  display: contents;
}
 
.about-me-container4 {
  display: none;
}
 
.about-me-container5 {
  display: contents;
}
 
.about-me-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-me-icon42 {
  width: 24px;
  margin-right: 4px;
}
 
.about-me-text9 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
